<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_index') }}">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"  href="{{ path('alumnos') }}">Alumnos</a>
        <a class="nav-link"  href="{{ path('asignaturas') }}">Asignaturas</a>
        <a class="nav-link"  href="{{ path('cursos') }}">Cursos<a>
        <a class="nav-link"  href="{{ path('profesores') }}">Profesores</a>
        <a class="nav-link"  href="{{ path('matricula') }}">Matricular</a>
      </div>
      <div>
        <a class="nav-link"  href="{{ path('app_logout') }}">Cerrar sesión  {{ app.user.getEmail() }}</a
      </div>
    </div>
  </div>
</nav>